{% extends  'base.html' %}
{% load static %}

{% block title %}
    <title>{{ first_name }} {{ last_name }}</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">
{% endblock %}

{% block main %}
    {% include 'navbar.html' %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-lg"
             style="padding-left: 1%;
            padding-right: 1%;
            margin-right: auto;
            margin-left: -2%;
            margin-top: -25px">
            <div class="multi-button">
                <button class="btn btn-toolbox"
                        style="color: lightgreen; background-color: #333333; margin-right: 5px;"
                        type="submit">
                    Сохранить
                </button>

                <a class="btn btn-toolbox"
                   style="color: lightcoral; background-color: #333333; margin-right: 5px;"
                   href="../">
                    Вернуться
                </a>
            </div>
        </div>
        <div class="container-md emp-profile" style="padding: 2%; margin-left: -1%; margin-right: -1%; margin-top: 5px">
            <div class="row">
                <div class="col-md-2 border-right">
                    <div class="row">
                        <div class="profile-img"
                             style="width: 250px; height: 250px; overflow: hidden; position: relative; border-radius: 10%; margin-left: auto;
                       margin-right: auto">
                            <img src="/media/{{ profile_data.profile_picture }}"
                                 alt=""
                                 class="rounded"
                                 width="160"
                                 height="160"
                                 style="width: 160px; height: 160px; object-fit: cover;"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10" style="padding-left: 3%">
                    <div class="row">
                        <div class="profile-head">
                            <h1>
                                {{ group_data.grade }} "{{ group_data.symbol }}" класс
                            </h1>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1%">
                        <div class="profile-head">
                            <div class="container">
                                <div class="row" style="margin-top: 5%">
                                    <div class="col" style="padding-left: 0">
                                        <h3>профиль</h3>
                                        <div class="btn-group" role="group">
                                            <div class="form-group">
                                                <select id="specialisation" name="specialisation" class="form-control">
                                                    {% if group_data.specialisation == None %}
                                                        <option selected value=None>Не выбран</option>
                                                    {% endif %}
                                                    {% for specialisation in available_specialisations %}
                                                        <option {% if specialisation == group_data.specialisation %}
                                                            selected {% endif %}
                                                            value="{{ specialisation.id }}">{{ specialisation.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 3px">
                                    <div class="col" style="padding-left: 0">
                                        <h3>куратор</h3>
                                        <div class="btn-group" role="group">
                                            <div class="form-group">
                                                <select id="supervisor" name="supervisor" class="form-control">
                                                    {% if group_data.supervisor == None %}
                                                        <option selected value=None>Не выбран</option>
                                                    {% else %}
                                                        {% if available_supervisors|length > 0 %}
                                                            {% for supervisor in available_supervisors %}
                                                                <option {% if supervisor == group_data.supervisor %}
                                                                    selected {% endif %}
                                                                    value="{{ supervisor.id }}">{{ supervisor.first_name }} {{ supervisor.last_name }}</option>
                                                            {% endfor %}
                                                        {% else %}
                                                            <!-- available_supervisors содержит только преподавателей возможных для замены, но не содержит текущего руководителя -->
                                                            <option selected
                                                                    value="{{ group_data.supervisor.id }}">{{ group_data.supervisor.first_name }} {{ group_data.supervisor.last_name }}</option>
                                                        {% endif %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 3px">
                                    <div class="col" style="padding-left: 0">
                                        <h3>староста</h3>
                                        <div class="btn-group" role="group">
                                            <div class="form-group">
                                                <select id="headman" name="headman" class="form-control">
                                                    {% if group_data.headman == None %}
                                                        <option selected value=None>Не выбран</option>
                                                    {% endif %}
                                                    {% for apprentice in apprentices %}
                                                        <option {% if apprentice == group_data.headman %}
                                                            selected {% endif %}
                                                            value="{{ apprentice.id }}">{{ apprentice.first_name }} {{ apprentice.last_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 3px">
                                    <div class="col" style="padding-left: 0">
                                        <h3>методист</h3>
                                        <div class="btn-group" role="group">
                                            <div class="form-group">
                                                <select id="methodist" name="methodist" class="form-control">
                                                    {% if group_data.methodist == None %}
                                                        <option selected value=None>Не выбран</option>
                                                    {% endif %}
                                                    {% if available_methodists|length > 0 %}
                                                        {% for methodist in available_methodists %}
                                                            <option {% if methodist == group_data.methodist %}
                                                                selected {% endif %}
                                                                value="{{ methodist.id }}">{{ methodist.first_name }} {{ methodist.last_name }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
{% endblock %}