{% extends  'base.html' %}
{% load static %}


{% block title %}
    <title>Домашнаяя страница</title>
{% endblock %}


{% block main %}
    <h1 style="color: whitesmoke">Сегодня, {% now "F j" %}</h1>
    <div class="container-md"
         style="
            width: 100%;
            top: 60px;
            display: inline-flex;
            margin-top: 1%;
            padding: 2%;
            border: 3px solid darkgray;
            border-radius: 20px;">


        <div class="card">
            <div class="container" style="padding: 5%">
                <h3 class="title" style="color: whitesmoke">Название урока</h3>
            </div>
        </div>

        


    </div>

{% endblock %}