{% extends  'base.html' %}
{% load static %}


{% block title %}
    <title>Домашнаяя страница</title>
{% endblock %}


{% block main %}
    <h1 style="color: whitesmoke">Сегодня, {% now "F j" %}</h1>
    <div class="container-md"
         style="
            height: 600px;
            width: 100%;
            top: 60px;
            display: inline-flex;
            margin-top: 1%;
            padding-left: 2%;
            padding-right: 2%; ">


        <div class="card">
            <div class="container" style="padding: 5%">
                <h3 class="title" style="color: whitesmoke">Название урока</h3>
            </div>
        </div>

        <div class="card" style="margin-left: -150px;">
            <h3 class="title">Card 2</h3>
        </div>

        <div class="card">
            <h3 class="title">Card 3</h3>
        </div>

        <div class="card">
            <h3 class="title">Card 4</h3>
        </div>

        <div class="card">
            <h3 class="title">Card 5</h3>
        </div>

        <div class="card">
            <h3 class="title">Card 6</h3>
        </div>

        <div class="card">
            <h3 class="title">Card 7</h3>
        </div>

        <div class="card">
            <h3 class="title">Card 8</h3>
        </div>

        <div class="card">
            <h3 class="title">Card 9</h3>
        </div>

    <div class="card">
            <h3 class="title">Card 10</h3>
        </div>









    </div>

{% endblock %}