<!doctype  html>
{% load static %}
{% load svg %}
<html lang="en">


{% block style %}
{% endblock %}


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    {% block title %}
    {% endblock %}
</head>
<body style="background-image: url(/static/svg/hideout.svg); background-color: #17141d">
<div class="container">
    <div class="row" style="margin-top: 2%;">
        {% include 'partials/messages.html' %}
    </div>
    {% block main %}
    {% endblock %}
</div>
</body>
</html>