{% extends  'registration/auth_base.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block main %}
    <style type="text/css">
        label {
            font-size: 120%;
            font-family: Avantgarde, Gill Sans, Verdana, sans-serif;
            color: whitesmoke;
            margin-bottom: -2%;
        }
    </style>

    <div class="container" style="align-items: center; justify-content: center; margin-top: 10%">
        <div class="card" style="background-color: #292929">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p style="text-align: center; color: whitesmoke; font-size: large">Впервые на сайте?</p>
                    <div class="row">
                        <div class="col">
                            <label for="first_name">Имя</label>
                            <input id="first_name"
                                   title="first_name"
                                   class="form-control"
                                   type="text"
                                   name="first_name"
                                   placeholder="Иван (обязательно)"
                                   maxlength="30"
                                   required>

                            <label for="second_name">Фамилия</label>
                            <input id="second_name"
                                   title='second_name'
                                   class="form-control"
                                   type="text"
                                   name="second_name"
                                   placeholder="Иванов (обязательно)"
                                   maxlength="30"
                                   required>

                            <label for="last_name">Отчество</label>
                            <input id="last_name"
                                   title="last_name"
                                   class="form-control"
                                   type="text"
                                   name="last_name"
                                   placeholder="Иванович"
                                   maxlength="30">
                        </div>
                        <div class="col">
                            <label for="email">Электронная почта</label>
                            <input id="email"
                                   title="email"
                                   class="form-control"
                                   type="email"
                                   name="email"
                                   placeholder="ivanov@email.com"
                                   maxlength="30">

                            <label for="phone">Телефон</label>
                            <input id="phone"
                                   title="phone"
                                   class="form-control"
                                   type="text"
                                   name="phone"
                                   placeholder="+79161234567"
                                   maxlength="30">

                            <label for="role">Роль</label>
                            <select class="custom-select mr-sm-2" id="role" title="role" name="role">
                                <option value="1">Школьник</option>
                                <option value="2">Родитель</option>
                                <option value="3">Учитель</option>
                                <option value="4">Персонал</option>
                                <option value="5">Менеджмент</option>
                                <option value="6">Администрация</option>
                            </select>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-block" style="margin-top: 3%">Проверка
                    </button>

                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}