.math {
    background-image: linear-gradient(120deg, #4facfe 0%, #8ec5fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.russian {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nature {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.reading {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.algebra {
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.literature {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.geometry {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.physics {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.chemistry {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.biology {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.geography {
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.history {
    background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.it {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.pe {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.art {
    background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.english {
    background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

