{% extends 'base.html' %}

{% block title %}
    Журнал
{% endblock %}

{% block style %}
    <style>
        .day {
            width: 15%;
            height: 100vh;
            float: left;
            background-color: #fff;
            background-image: linear-gradient(rgba(0, 0, 0, .08) 50%, transparent 50%);
            background-size: 1px 20%;
        }

        .day.time {
            width: 5%;
        }

        .day_title {
            height: 10%;
            background-color: #34495e;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            line-height: 10vh;
        }

        .hour {
            height: 10%;
            background-color: rgba(52, 73, 94, 0.9);
            font-size: 12px;
            text-align: center;
            line-height: 10vh;
        }

        .class {
            width: 100%;
            height: 10vh; /*90min*/
            line-height: 15vh;
            background-color: magenta;
            font-size: 2vw;
            font-weight: 300;
            padding-left: 10px;
        }

        .class.short {
            height: 7.5vh;
            line-height: 7.5vh;
        }

        /* 45min class */
        .class.b15 {
            margin-top: 2.5vh;
        }

        /* after 15 min break */
        .class.b45 {
            margin-top: 7.5vh;
        }

        /* after 45 min break */
        .class.b90 {
            margin-top: 15vh;
        }

        /* after 2x45 min break */
        .class.b135 {
            margin-top: 22.5vh;
        }

        /* after 3x45 min break */

        .green {
            background-color: #2ecc71;
        }

        .turquoise {
            background-color: #1abc9c;
        }

        .navy {
            background-color: #34495e;
        }

        .blue {
            background-color: #3498db;
        }

        .purple {
            background-color: #9b59b6;
        }

        .grey {
            background-color: #bdc3c7;
            color: #202020;
        }

        .gray {
            background-color: #7f8c8d;
        }

        .red {
            background-color: #e74c3c;
        }

        .orange {
            background-color: #f39c12;
        }

        .yellow {
            background-color: #f1c40f;
            color: #303030;
        }

        .spacing {
            background-color: transparent;
        }


        /* Add this attribute to the element that needs a tooltip */
        [data-tooltip] {
            position: relative;
            z-index: 2;
            cursor: pointer;
            width: initial;
        }

        /* Hide the tooltip content by default */
        [data-tooltip]:before,
        [data-tooltip]:after {
            visibility: hidden;
            pointer-events: none;
        }

        /* Position tooltip above the element */
        [data-tooltip]:before {
            position: absolute;
            bottom: 110%;
            left: 50%;
            margin-bottom: 10px;
            margin-left: -75px;
            padding: 7px 5px;
            width: 140px;
            background-color: black;
            color: #fff;
            content: attr(data-tooltip);
            text-align: center;
            font-size: 14px;
            line-height: 1.2;
        }

        /* Triangle hack to make tooltip look like a speech bubble */
        [data-tooltip]:after {
            position: absolute;
            bottom: 110%;
            left: 50%;
            margin-left: -7px;
            margin-bottom: 3px;
            width: 0;
            border-top: 7px solid black;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            content: " ";
            font-size: 0;
            line-height: 0;
        }

        /* Show tooltip content on hover */
        [data-tooltip]:hover:before,
        [data-tooltip]:hover:after {
            visibility: visible;
            bottom: 90%;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid" style="padding-left: 3%">
        <div class="day time">
            <div class="day_title">Time</div>
            <div class="hour">8:00-8:45</div>
            <div class="hour">8:55-9:40</div>
            <div class="hour">9:50-10:35</div>
            <div class="hour">10:50-11:35</div>
            <div class="hour">11:45-12:30</div>
            <div class="hour">12:40-13:25</div>
            <div class="hour">13:35-14:20</div>
            <div class="hour">14:35-15:20</div>
            <div class="hour">15:30-16:15</div>
        </div>

        <div class="day monday">
            <div class="day_title">Monday</div>
            <div class="class red" data-tooltip="English Literature">2ELI1 [C1]</div>
            <div class="class b15 blue" data-tooltip="Probability and Statistics">2MPS1 [K2]</div>
            <div class="class b15 grey" data-tooltip="German">2GER1 [C1]</div>
            <div class="class short blue" data-tooltip="Additional Probability and Statistics">2MPS+ [K2]</div>
        </div>

        <div class="day tuesday">
            <div class="day_title">Tuesday</div>
            <div class="class gray" data-tooltip="Economics">2ECO3 [A1]</div>
            <div class="class b15 orange" data-tooltip="German History">2GHI1 [C0]</div>
            <div class="class b15 purple" data-tooltip="Ethics">2ETH1 [C2]</div>
            <div class="class b45 red" data-tooltip="English Language: Writing">2ELA+ [A3]</div>
            <div class="class red" data-tooltip="English Language">2ELA0 [C0]</div>
        </div>

        <div class="day wednesday">
            <div class="day_title">Wednesday</div>
            <div class="class short spacing"></div>
            <div class="class short yellow" data-tooltip="EU Politics">2EUP1 [C0]</div>
            <div class="class b15 spacing"></div>
            <div class="class b15 short navy" data-tooltip="Physics">2PHY1 [F2]</div>
            <div class="class short spacing"></div>
            <div class="class b15 turquoise" data-tooltip="Physical Education: Swimming">2SWM3</div>
        </div>

        <div class="day thursday">
            <div class="day_title">Thursday</div>
            <div class="class grey" data-tooltip="German">2GER1 [C1]</div>
            <div class="class b15 blue" data-tooltip="Advanced Integral Calculus">2MIC1 [K2]</div>
            <div class="class b15 red" data-tooltip="English Literature">2ELI1 [C1]</div>
            <div class="class short blue" data-tooltip="Additional Basic Integral Calculus">1CAL+ [K2]</div>
            <div class="class short yellow" data-tooltip="UK Politics">2UKP5 [C2]</div>
            <div class="class short yellow" data-tooltip="German Politics">2GEP5 [C2]</div>
            <div class="class green" data-tooltip="Media Studies">2MDS2 [A1]</div>
        </div>

        <div class="day friday">
            <div class="day_title">Friday</div>
            <div class="class spacing"></div>
            <div class="class b15 green" data-tooltip="Architechture">2ARC4 [A3]</div>
            <div class="class b15 navy" data-tooltip="Physics">2PHY1 [F2]</div>
        </div>

        <div class="day saturday">
            <div class="day_title">Saturday</div>
            <div class="class spacing"></div>
            <div class="class b15 green" data-tooltip="Architechture">2ARC4 [A3]</div>
            <div class="class b15 navy" data-tooltip="Physics">2PHY1 [F2]</div>
        </div>
    </div>
{% endblock %}