{% extends 'base.html' %}
{% load static %}

{% block title %}
    Журнал
{% endblock %}

{% block style %}
    <style>
        table {
            border: 3px solid whitesmoke;
            width: 100%;
            border-collapse: collapse;
            color: whitesmoke;
        }


        {# все ячейки #}
        td {
            padding: 5px;
            height: 80px;
            border: 2px solid whitesmoke;
            text-align: center;
        }

        {# все ячейки уроков #}
        .lesson-field {
            padding: 15px;
            border: 1px solid whitesmoke;
        }

        {# все ячейки уроков при наведении #}
        .lesson-field:hover {
            transform: translate(-5px, -5px);
            transition: 0.6s ease-out;
        }

        {# оформление отдельных уроков #}
        .lesson-field.russian {

        }

    </style>
{% endblock %}

{% block main %}
    <table>
        <tr>
            <td style="width: 7%;">
                <b>Неделя</b>
            </td>
            <td>
                <b>I урок<br>8:30-9:15</b>
            </td>
            <td>
                <b>II урок<br>9:25-10:10</b>
            </td>
            <td>
                <b>III урок<br>10:20-12:05</b>
            </td>
            <td style="width: 4%;">
                <b>12:05-12:25</b>
            </td>
            <td>
                <b>IV урок<br>12:25-13:10</b>
            </td>
            <td>
                <b>V урок<br>13:20-14:05</b>
            </td>
            <td>
                <b>VI урок<br>14:15-15:00</b>
            </td>
            <td style="width: 4%;">
                <b>15:00-15:15</b>
            </td>
            <td>
                <b>VII урок<br>15:15-16:00</b>
            </td>
            <td>
                <b>IIX урок<br>16:10-16:55</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Понедельник</b></td>
            <td>Eng</td>
            <td>Mat</td>
            <td>Che</td>
            <td rowspan="6">
                <h2>О<br>Б<br>Е<br>Д</h2>
            </td>
            <td> LAB</td>
            <td> LAB</td>
            <td> LAB</td>
            <td rowspan="6">
                <h2>П<br>Е<br>Р<br>Е<br>Р<br>Ы<br>В</h2>
            </td>
            <td>Phy</td>
            <td>Obama</td>
        </tr>
        <tr>
            <td>
                <b>Вторник</b>
            </td>
            <td>LAB</td>
            <td>LAB</td>
            <td>LAB</td>
            <td>Eng</td>
            <td>Che</td>
            <td>Mat</td>
            <td>SPORTS</td>
            <td>Obama</td>

        </tr>
        <tr>
            <td>
                <b>Среда</b>
            </td>
            <td class="lesson-field">Mat</td>
            <td>phy</td>
            <td>Eng</td>
            <td>Che</td>
            <td>LIBRARY</td>
            <td>LIBRARY</td>
            <td>Obama</td>
            <td>Obama</td>

        </tr>
        <tr>
            <td>
                <b>Четверг</b>
            </td>
            <td>Phy</td>
            <td>Eng</td>
            <td>Che</td>
            <td>LAB</td>
            <td>LAB</td>
            <td>LAB</td>
            <td>Mat</td>
            <td>Obama</td>

        </tr>
        <tr>
            <td>
                <b>Пятница</b>
            </td>
            <td>LAB</td>
            <td>LAB</td>
            <td>LAB</td>
            <td>Mat</td>
            <td>Che</td>
            <td>Eng</td>
            <td>Phy</td>
            <td>Obama</td>

        </tr>
        <tr>
            <td>
                <b>Суббота</b>
            </td>
            <td>Eng</td>
            <td>Che</td>
            <td>Mat</td>
            <td>SEMINAR</td>
            <td>SEMINAR</td>
            <td>SEMINAR</td>
            <td>SPORTS</td>
            <td>Obama</td>

        </tr>
    </table>
{% endblock %}