<!doctype  html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    {% block title %}
    {% endblock %}
</head>
    <body style="background-color: #5f5f5f">
        <div class="container">
            <div class="row" style="margin-top: 2%;">
                {% include 'partials/messages.html' %}
            </div>
            {% block main %}
            {% endblock %}
        </div>
    </body>
</html>