<!doctype  html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/toolbox_style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">

    {% block title %}
    {% endblock %}

    {% block style %}
    {% endblock %}

</head>
<body style="background-color: #100e17">
{% include 'navbar.html' %}
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%; margin-top: 90px">
    <div class="row">
        {% include 'partials/messages.html' %}
    </div>
    {% block main %}
    {% endblock %}
</div>
</body>
</html>